.toggleWrapper {
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
}


label {
    width: 250px;
    height: 100px;
    position: absolute;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0 5px 15px rgba(0,0,0,.4), inset 0 -5px 15px rgba(255,255,255,.4);
    cursor: pointer;
    transform: scale(.4);
    left: calc(50% - 125px);
    top: -15px;
    transition: 1s;
}

label:after {
    content: '';
    width: 90px;
    height: 90px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    transition: 1s;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label {
    background: #242424;
}

input:checked + label:after {
    left: 245px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active:after {
    width: 130px;
}

label svg {
    position: absolute;
    width: 60px;
    top: 20px;
    z-index: 100;
}

label svg.sun {
    left: 20px;
    fill: white;
    transition: 1s;
}

label svg.moon {
    left: 170px;
    fill: #7e7e7e;
    transition: 1s;
}

input:checked + label svg.sun {
    fill: #7e7e7e;
}

input:checked + label svg.moon {
    fill: white;
}

@media only screen and (max-width: 1100px) {
    label {
        transform: scale(.3);
        top: -15px;

    }
}

@media only screen and (max-width: 767.98px) {
    label {
        transform: scale(.27);
        top: -14px;
    }
}

@media only screen and (max-width: 700px) {
    label {
        display: block;
        transform: scale(.1);
        top: -17px;
    }
}